<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
      The HttpListener supports different kinds of authentication schemes. Most
      clients require an HTTPS connection to allow basic authentication. Make
      sure you properly configure HTTPS if you want to use it. Refer to
      
        https://msdn.microsoft.com/en-us/library/ms733791(v=vs.110).aspx
        
      for more information how to setup your HTTPS connection. You need to have
      a trusted certificate that is bound to the server endpoint.
    -->
    <add key="webdav.authentication" value="false"/>
    <!--<add key="webdav.username" value="test"/>-->
    <!--<add key="webdav.password" value="test"/>-->
    
    <add key="webdav.protocol" value="http"/>
    <add key="webdav.ip" value="127.0.0.1"/>
    <add key="webdav.port" value="11111"/>
  </appSettings>

</configuration>
