<?xml version="1.0"?>
<configuration>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.webServer>
    <handlers>
      <!-- Map all the verbs to the ASP.NET WebDAV handler. -->
      <add name="WebDavHandlerFactory" verb="*" path="*" type="NWebDav.Sample.AspNet.DiskWebDavHandlerFactory"/>
    </handlers>
  </system.webServer>
</configuration>